.tasks {
  margin: 2.312rem auto 0;
  width: 50%;
}

.tasksInfo {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  font-weight: bold;
  }

.tasksInfo output {
  font-size: .75rem;
  color: var(--gray-200);
  background: var(--gray-400);
  border-radius: 1rem;
  padding: 2px 8px;
}

.createdTask {
  font-size: .875rem;
  color: var(--blue);
}
.doneTask {
  font-size: .875rem;
  color: var(--purple);
}

.taskList {
  margin-top: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: .75rem;
}