.task {
  background-color: var(--gray-500);
  border: 1px solid var(--gray-400);
  padding: 1rem;

  border-radius: 8px;

  display: grid;
  align-items: flex-start;
  grid-template-columns: 2rem auto 2.5rem;
  gap: 0.5rem;
}

.task input[type="checkbox"] {
  display: none;
}

.task svg {
  border: 0;
  border-radius: 50%;
}
.task span {
  tab-size: .875rem;
}
.task input:checked+svg+span {
  color: var(--gray-300);
  text-decoration: line-through;
}
.task input:not(:checked)+svg {
  color: var(--blue);
}
.task input:not(:checked)+svg:hover {
  color: var(--blue-dark);
  background-color: var(--blue-dark-20);
}
.task input:checked+svg {
  background-color: var(--purple-dark);
}
.task input:checked+svg:hover {
  background-color: var(--purple);
}

.task button {
  background: transparent;
  border: 0;
  color: var(--gray-300);
  cursor: pointer;
  line-height: 0;
  border-radius: 2px;
  padding:  .5rem 0;
}

.task button:hover {
  color: var(--danger);
}